$bg-sidebar: #232E32;
$header-color: #3B8DBC;

$sider-item-hover: #2C3B40;

html, body{
    height: 100%;
}

body{
  background-color: #f5f5f5;
}

.header{
  background-color: $header-color;
  z-index: 9999;

  .dropdown{
    margin-right: 40px;
  }


}

.main-container{
    height: 91.5%;

    .content{
      margin-left: calc(50% - 470px);
      padding-top: 70px;

      .painel{
        background-color: #fff;
        padding-top: 20px;
        min-height: 520px;
        border-radius: 10px;
        border: 1px solid #E5E5E5;
        padding-bottom: 20px;
        margin-bottom: 10px;
      }

    }
      .sidebar{
        height: 100%;
        width: 200px;
        height: 100%;
        background-color: $bg-sidebar;
        margin-top: 56px;

        .list-group{

          .list-group-item{
              background-color: $bg-sidebar;
              height: 50px;
              color: #fff;
              padding-left: 20px;
              transition: 0.5s;

              i{
                float: left;
              }

              p{
                float: left;
                margin-top: 0px;
                margin-left: 20px;
              }

          }

          .list-group-item:hover{
            background-color: $sider-item-hover;
          }



        }

      }

    .btn-cadastro{
      margin-right: 4%;

        i{
          margin-right: 10px;
        }

    }

    .book-list-row{
      width: 100%;

        .card{
            margin: 2%;
            margin-left: 3.5%;
            margin-right: 3.5%;
            text-decoration: none;

            h5{
              color: #424242;
            }

            p{
              color: #000;
            }

            .img{
            }

        }

    }

    .menu{

    }
}

.margin-top-sm{
  margin-top: 10px;
}

.margin-top-m{
  margin-top: 20px;
}

.margin-top-lg{
  margin-top: 30px;
}

.margin-top-slg{
  margin-top: 50px;
}

.green{
  background-color: green;
}

.black{
  background-color: blue;
}

.red{
  background-color: red;
}
